/[[]ADVANDB] Marinduque Server/nbproject/private/
/[[]ADVANDB] Marinduque Server/build/
/[[]ADVANDB] MCO3 Coordinator/nbproject/private/
/[[]ADVANDB] MCO3 Coordinator/build/
/[[]ADVANDB] MCO3 Coordinator/dist/
/[[]ADVANDB] Marinduque Client/dist/